//- nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
//-   a.navbar-brand(href="#") Boilerplate
//-   .collapse.navbar-collapse
//-     .navbar-nav
//-       a.nav-item.nav-link(href="/feed/trending") Trending
//-       a.nav-item.nav-link(href="/feed/created") New
//-     .navbar-nav.ml-auto
//-       a.nav-item.nav-link.btn.btn-outline-secondary(href="/post") Create Post
//-       a.nav-item.nav-link(href="/dashboard") Profile
//-       a.nav-item.nav-link(href="/auth/logout") Logout

header.gb-nav
  a(href="/")
    img.gb-nav__logo(src="/img/logo.svg")

  if user
    .gb-nav__meta.clearfix: a(href=`/@${user.name}`): img.gb-nav__profile-image(src=`${user.profileImage}`)
    a(href="/post/create-post").button.post-review Post Review

  else
    .gb-nav__meta.clearfix
      a(href="/auth").button.button--steemconnect
        span Login With SteemConnect
        img(src="/img/steem.png")
