doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
    link(href="https://fonts.googleapis.com/css?family=Lato:400,700|Source+Serif+Pro" rel="stylesheet")
  body
    block content
    script(src="/main.js")
