extends layout

block content
  include partials/nav

  main.create-post
    .container
      .row
        .col-md-8.offset-md-2
          h2 Create Post

          .row
            .col-md-6
              form.book-cover-form(action="" method="post" enctype="multipart/form-data")
                fieldset.form-group
                  Label Upload Book Cover
                  input.form-control(type="hidden" name="upload_preset" value="ldzx8dne")
                  input.form-control.book-cover-upload.form-control-file(type="file" name="file")
            .col-md-6
                img(class="uploaded-book-cover" width="90px" src="http://placehold.it/100x140&text=cover")

          form(action="/post/create-post/" method="post")
            label(for='title')
              | Post Title
            input#title.form-control(type="text" name="title")
            .row
              .col-md-4.mb-3
                label(for='title')
                  | Book Title
                input#title.form-control(type="text" name="book")
              .col-md-4.mb-3
                label(for='title')
                  | Book Author
                input#title.form-control(type="text" name="author")
              .col-md-4.mb-3
                label(for='rating')
                  | Book Rating
                select#rating.form-control(name="rating")
                  option(value='0') Choose...
                  option(value='0') 0
                  option(value='1') 1
                  option(value='2') 2
                  option(value='3') 3
                  option(value='4') 4
                  option(value='5') 5
              .col-md-12
                  label(for='title')
                    | Review
                  textarea.form-control(type="text" name="post")
              .col-md-6
                label(for='tags')
                  | Tags & Genres (comma seperated)
                input#title.form-control(type="text" name="tags")
              input.cover-url(type="hidden" name="cover")

            button.btn.btn-primary.btn-lg.btn-block(type='submit') Submit Post
            p Posting as #{name}
            p #{msg}
