extends layout

block content
  include partials/nav

  main.single(data-username=`${username}` data-permlink=`${permlink}` data-category=`${category}`)
    .single__wrapper
      .container
        aside.single__aside
        section.single__content.content
