extends layout

block content
  include partials/nav

  main.single(data-username=`${username}` data-permlink=`${permlink}` data-category=`${category}`)
    .single__wrapper
      .container
        aside.single__aside
        section.single__content.content

  //-     section.recommend
  //-       .container
  //-         hr
  //-         h3 More by @sambillingham
  //-
  //-         .review
  //-           .review__background.clearfix
  //-             img(src="/img/tools.jpeg").review__cover
  //-             .review__content
  //-               h2.review__book-title Tools Of Titans
  //-               h2.review__book-author Tim Ferriss
  //-               h4.review__rating.clearfix
  //-                 img(src="/img/star.png").review__star
  //-                 img(src="/img/star.png").review__star
  //-                 img(src="/img/star.png").review__star
  //-                 img(src="/img/star.png").review__star
  //-                 img(src="/img/star-empty.png").review__star
  //-               h3.review__quote “Great for a 5 minute daily read.”
  //-               h4.review__author Review By @sambillingham
  //-         .review
  //-          .review__background.clearfix
  //-            img(src="/img/obstacle.jpg").review__cover
  //-            .review__content
  //-              h2.review__book-title The Obstacle Is The Way
  //-              h2.review__book-author Ryan Holiday
  //-              h4.review__rating.clearfix
  //-                img(src="/img/star.png").review__star
  //-                img(src="/img/star.png").review__star
  //-                img(src="/img/star.png").review__star
  //-                img(src="/img/star.png").review__star
  //-                img(src="/img/star-empty.png").review__star
  //-              h3.review__quote “Simple, but not easy practical advice to overcome adversity.”
  //-              h4.review__author Review By @sambillingham
  //-       .review
  //-        .review__background.clearfix
  //-          img(src="/img/million.jpeg").review__cover
  //-          .review__content
  //-            h2.review__book-title A Million Miles In A thousand Years
  //-            h2.review__book-author Donald Miller
  //-            h4.review__rating.clearfix
  //-              img(src="/img/star.png").review__star
  //-              img(src="/img/star.png").review__star
  //-              img(src="/img/star.png").review__star
  //-              img(src="/img/star.png").review__star
  //-              img(src="/img/star.png").review__star
  //-            h3.review__quote “There is no story without obstacles”
  //-            h4.review__author Review By @sambillingham
  //-
  //-
  //- section.recommend
  //-  .container
  //-    hr
  //-    h3 Productivity
  //-
  //-    .review
  //-      .review__background.clearfix
  //-        img(src="/img/tools.jpeg").review__cover
  //-        .review__content
  //-          h2.review__book-title Tools Of Titans
  //-          h2.review__book-author Tim Ferriss
  //-          h4.review__rating.clearfix
  //-            img(src="/img/star.png").review__star
  //-            img(src="/img/star.png").review__star
  //-            img(src="/img/star.png").review__star
  //-            img(src="/img/star.png").review__star
  //-            img(src="/img/star-empty.png").review__star
  //-          h3.review__quote “Great for a 5 minute daily read.”
  //-          h4.review__author Review By @sambillingham
  //-    .review
  //-     .review__background.clearfix
  //-       img(src="/img/obstacle.jpg").review__cover
  //-       .review__content
  //-         h2.review__book-title The Obstacle Is The Way
  //-         h2.review__book-author Ryan Holiday
  //-         h4.review__rating.clearfix
  //-           img(src="/img/star.png").review__star
  //-           img(src="/img/star.png").review__star
  //-           img(src="/img/star.png").review__star
  //-           img(src="/img/star.png").review__star
  //-           img(src="/img/star-empty.png").review__star
  //-         h3.review__quote “Simple, but not easy practical advice to overcome adversity.”
  //-         h4.review__author Review By @sambillingham
  //-  .review
  //-   .review__background.clearfix
  //-     img(src="/img/million.jpeg").review__cover
  //-     .review__content
  //-       h2.review__book-title A Million Miles In A thousand Years
  //-       h2.review__book-author Donald Miller
  //-       h4.review__rating.clearfix
  //-         img(src="/img/star.png").review__star
  //-         img(src="/img/star.png").review__star
  //-         img(src="/img/star.png").review__star
  //-         img(src="/img/star.png").review__star
  //-         img(src="/img/star.png").review__star
  //-       h3.review__quote “There is no story without obstacles”
  //-       h4.review__author Review By @sambillingham
