extends layout

block content
  include partials/nav

  main.single(data-username=`${username}` data-permlink=`${permlink}` data-category=`${category}`)
    .single__wrapper
      .container.clearfix
        aside.single__aside.clearfix
          .single__book-meta
            img(src="/img/tools.jpeg").single__book-cover
            .single__book-rating.stars.clearfix
              img(src="/img/star.png").review__star
              img(src="/img/star.png").review__star
              img(src="/img/star.png").review__star
              img(src="/img/star.png").review__star
              img(src="/img/star-empty.png").review__star
            h2.review__book-title Tools Of Titans
            h2.review__book-author Tim Ferriss
        section.single__content.content
            .single__meta-container.clearfix
              img(src="/img/sam.jpg").single__profile-image
              .single__meta
                h3.single__meta-author.title.is-2 @sambillingham
                  span.single__reputation 60
                p.single__datetime 7 Hours ago in Productivity
              .single__post-values
                span 12
                  img(src="/img/comment-icon.png")
                span 24
                  img(src="/img/zap-icon.png")
            h2 A Go To Daily Read For Life Advice

            hr
            p Tim Ferriss has been listed as one of Fast Company‘s ‘Most Innovative Business People’ and one of Fortune‘s ‘40 under 40’. He is an early-stage technology investor/advisor (Uber, Facebook, Shopify, Duolingo, Alibaba, and 50+ others) and the author of four #1 New York Times and Wall Street Journal bestsellers, including The 4-Hour Workweek, The 4-Hour Body, The 4-Hour Chef and Tools of Titans. The Observer and other media have called Tim ‘the Oprah of audio’ due to the influence of The Tim Ferriss Show podcast, which is the first business/interview podcast to exceed 200 million downloads. Tim received his BA from Princeton University in 2000, where he focused on language acquisition and East Asian Studies. He developed his non-fiction writing with Pulitzer Prize winner John McPhee and formed his life philosophies under Nobel Prize winner Kenzaburo Oe.

            h3 What Would Kelly Starrett Do?

            p Praesent dictum urna nec orci auctor consectetur. Aenean iaculis tellus vitae quam imperdiet, vel fermentum risus pharetra. Etiam facilisis ornare aliquam. Vestibulum vel metus dolor. Phasellus in lacus mauris. Nunc rhoncus dui at ante dignissim placerat. Pellentesque volutpat risus vitae tellus tempus sagittis. Sed tristique sem metus, id egestas dui lacinia quis. Cras varius turpis et massa tristique, ac rutrum justo sodales. Sed eget cursus ligula, pharetra pulvinar erat. Phasellus aliquet, odio egestas fermentum ornare, erat arcu cursus dui, nec dictum orci arcu id erat. Donec in molestie lacus, a molestie sem. Vivamus vel viverra lectus.

            ul
              li Aenean dapibus risus et suscipit cursus.
              li Curabitur ultricies dui in felis convallis pellentesque.
              li Pellentesque id felis accumsan, volutpat diam eget, ullamcorper turpis.
              li Vivamus fermentum magna et eros laoreet semper.

            p Praesent dictum urna nec orci auctor consectetur. Aenean iaculis tellus vitae quam imperdiet, vel fermentum risus pharetra. Etiam facilisis ornare aliquam. Vestibulum vel metus dolor. Phasellus in lacus mauris. Nunc rhoncus dui at ante dignissim placerat. Pellentesque volutpat risus vitae tellus tempus sagittis. Sed tristique sem metus, id egestas dui lacinia quis. Cras varius turpis et massa tristique, ac rutrum justo sodales. Sed eget cursus ligula, pharetra pulvinar erat. Phasellus aliquet, odio egestas fermentum ornare, erat arcu cursus dui, nec dictum orci arcu id erat. Donec in molestie lacus, a molestie sem. Vivamus vel viverra lectus.

            blockquote Praesent dictum urna nec orci auctor consectetur. Aenean iaculis tellus vitae quam imperdiet, vel fermentum risus pharetra. Etiam facilisis ornare aliquam. Vestibulum vel metus dolor. Phasellus in lacus mauris. Nunc rhoncus dui at ante dignissim placerat. Pellentesque volutpat risus vitae tellus tempus sagittis.
            p
              i page 34 qoute form fred smith

            p Praesent dictum urna nec orci auctor consectetur. Aenean iaculis tellus vitae quam imperdiet, vel fermentum risus pharetra. Etiam facilisis ornare aliquam. Vestibulum vel metus dolor. Phasellus in lacus mauris. Nunc rhoncus dui at ante dignissim placerat. Pellentesque volutpat risus vitae tellus tempus sagittis. Sed tristique sem metus, id egestas dui lacinia quis. Cras varius turpis et massa tristique, ac rutrum justo sodales. Sed eget cursus ligula, pharetra pulvinar erat. Phasellus aliquet, odio egestas fermentum ornare, erat arcu cursus dui, nec dictum orci arcu id erat. Donec in molestie lacus, a molestie sem. Vivamus vel viverra lectus.

            blockquote.pullquote The impediment to action advances action. What stands in the way becomes the way.

            p Praesent dictum urna nec orci auctor consectetur. Aenean iaculis tellus vitae quam imperdiet, vel fermentum risus pharetra. Etiam facilisis ornare aliquam. Vestibulum vel metus dolor. Phasellus in lacus mauris. Nunc rhoncus dui at ante dignissim placerat. Pellentesque volutpat risus vitae tellus tempus sagittis. Sed tristique sem metus, id egestas dui lacinia quis. Cras varius turpis et massa tristique, ac rutrum justo sodales. Sed eget cursus ligula, pharetra pulvinar erat. Phasellus aliquet, odio egestas fermentum ornare, erat arcu cursus dui, nec dictum orci arcu id erat. Donec in molestie lacus, a molestie sem. Vivamus vel viverra lectus.

      section.recommend
        .container
          hr
          h3 More by @sambillingham

          .review
            .review__background.clearfix
              img(src="/img/tools.jpeg").review__cover
              .review__content
                h2.review__book-title Tools Of Titans
                h2.review__book-author Tim Ferriss
                h4.review__rating.clearfix
                  img(src="/img/star.png").review__star
                  img(src="/img/star.png").review__star
                  img(src="/img/star.png").review__star
                  img(src="/img/star.png").review__star
                  img(src="/img/star-empty.png").review__star
                h3.review__quote “Great for a 5 minute daily read.”
                h4.review__author Review By @sambillingham
          .review
           .review__background.clearfix
             img(src="/img/obstacle.jpg").review__cover
             .review__content
               h2.review__book-title The Obstacle Is The Way
               h2.review__book-author Ryan Holiday
               h4.review__rating.clearfix
                 img(src="/img/star.png").review__star
                 img(src="/img/star.png").review__star
                 img(src="/img/star.png").review__star
                 img(src="/img/star.png").review__star
                 img(src="/img/star-empty.png").review__star
               h3.review__quote “Simple, but not easy practical advice to overcome adversity.”
               h4.review__author Review By @sambillingham
        .review
         .review__background.clearfix
           img(src="/img/million.jpeg").review__cover
           .review__content
             h2.review__book-title A Million Miles In A thousand Years
             h2.review__book-author Donald Miller
             h4.review__rating.clearfix
               img(src="/img/star.png").review__star
               img(src="/img/star.png").review__star
               img(src="/img/star.png").review__star
               img(src="/img/star.png").review__star
               img(src="/img/star.png").review__star
             h3.review__quote “There is no story without obstacles”
             h4.review__author Review By @sambillingham


  section.recommend
   .container
     hr
     h3 Productivity

     .review
       .review__background.clearfix
         img(src="/img/tools.jpeg").review__cover
         .review__content
           h2.review__book-title Tools Of Titans
           h2.review__book-author Tim Ferriss
           h4.review__rating.clearfix
             img(src="/img/star.png").review__star
             img(src="/img/star.png").review__star
             img(src="/img/star.png").review__star
             img(src="/img/star.png").review__star
             img(src="/img/star-empty.png").review__star
           h3.review__quote “Great for a 5 minute daily read.”
           h4.review__author Review By @sambillingham
     .review
      .review__background.clearfix
        img(src="/img/obstacle.jpg").review__cover
        .review__content
          h2.review__book-title The Obstacle Is The Way
          h2.review__book-author Ryan Holiday
          h4.review__rating.clearfix
            img(src="/img/star.png").review__star
            img(src="/img/star.png").review__star
            img(src="/img/star.png").review__star
            img(src="/img/star.png").review__star
            img(src="/img/star-empty.png").review__star
          h3.review__quote “Simple, but not easy practical advice to overcome adversity.”
          h4.review__author Review By @sambillingham
   .review
    .review__background.clearfix
      img(src="/img/million.jpeg").review__cover
      .review__content
        h2.review__book-title A Million Miles In A thousand Years
        h2.review__book-author Donald Miller
        h4.review__rating.clearfix
          img(src="/img/star.png").review__star
          img(src="/img/star.png").review__star
          img(src="/img/star.png").review__star
          img(src="/img/star.png").review__star
          img(src="/img/star.png").review__star
        h3.review__quote “There is no story without obstacles”
        h4.review__author Review By @sambillingham
